name: Build FFmpeg for MacOS

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ macos-13, macos-latest ]
        include:
          - os: macos-13
            arch: x86_64
            artifact_name: ffmpeg-macos-x86_64
          - os: macos-latest
            arch: aarch64
            artifact_name: ffmpeg-macos-aarch64

    steps:
      - name: Install dependencies
        run: |
          brew install automake libtool nasm pkg-config yasm

      - name: Download FFmpeg source code
        run: |
          git clone https://git.ffmpeg.org/ffmpeg.git ffmpeg
          cd ffmpeg

      - name: Configure FFmpeg
        run: |
          cd ffmpeg
          ./configure --disable-everything \
            --disable-ffprobe \
            --enable-ffmpeg \
            --enable-avformat \
            --enable-avcodec \
            --enable-avutil \
            --enable-decoder=srt \
            --enable-decoder=movtext \
            --enable-decoder=webvtt \
            --enable-decoder=ass \
            --enable-decoder=ssa \
            --enable-decoder=subrip \
            --enable-encoder=srt \
            --enable-encoder=subrip \
            --enable-encoder=movtext \
            --enable-demuxer=mov \
            --enable-demuxer=matroska \
            --enable-demuxer=ass \
            --enable-demuxer=srt \
            --enable-demuxer=webvtt \
            --enable-muxer=srt \
            --enable-protocol=file \
            --enable-static \
            --disable-shared \
            --pkg-config-flags="--static"

      - name: Build and install FFmpeg
        run: |
          cd ffmpeg
          make
          sudo make install


      - name: Verify static linking
        run: |
          otool -L /usr/local/bin/ffmpeg

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: |
            /usr/local/bin/ffmpeg